<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body class="hidden">
    <% const {data, meta}=result; const books=data; %>
        <header>
            <div class="search-box">
                <input type="text" id="basic-search" placeholder="Tìm sách...">
            </div>
            <div class="search-actions">
                <button id="toggle-advanced">Search Advanced ▾</button>
            </div>
            <div class="auth-buttons">
                <button id="register-button">Đăng ký</button>
                <button id="login-button">Đăng nhập</button>
            </div>
        </header>

        <div id="advanced-search" class="advanced-search hidden">
            <form id="filter-form" onsubmit="return false;">
                <div>
                    <label for="author">Tác giả:</label>
                    <select name="authorId" id="author-select">
                        <option value=""> --- Tác giả --- </option>
                        <% authors.forEach(author=> { %>
                            <option value="<%= author.id %>">
                                <%= author.name %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <div>
                    <label for="creator">Người tạo:</label>
                    <input type="text" id="creator" name="creatorName">
                </div>
                <label for="published" class="full-row">Xuất bản:</label>
                <div>
                    <label for="published-from">Từ ngày:</label>
                    <input type="date" id="published-from" name="publishedFrom">
                </div>
                <div>
                    <label for="published-to">Đến ngày:</label>
                    <input type="date" id="published-to" name="publishedTo">
                </div>
                <div class="genre-group full-row">
                    <label>Thể loại:</label>
                    <div class="genre-options">
                        <% genres.forEach(genre=> { %>
                            <label><input type="checkbox" name="genreIds" value="<%= genre.id %>">
                                <%= genre.name %>
                            </label>
                            <% }) %>
                    </div>
                </div>
                <div class="is-read-group full-row">
                    <label>Lọc theo danh sách đã đánh dấu:</label>
                    <label class="is-read-label">Đã đọc?<input type="checkbox" name="isRead"></label>
                </div>
                <button type="button" class="full-row" id="submit-button">Tìm</button>
            </form>
        </div>

        <h3 id="result-count">Tìm thấy <%= meta.total %> sách</h3>


        <table class="responsive-table<%= meta.total === 0 ? " hidden" : "" %>">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Published</th>
                    <th>Created At</th>
                    <th>Author</th>
                    <th>Genres</th>
                    <th>Creator</th>
                    <th>Is Read</th>
                </tr>
            </thead>
            <tbody id="books-table">
                <% books.forEach(book=> { %>
                    <tr>
                        <td>
                            <%= book.id %>
                        </td>
                        <td>
                            <%= book.title %>
                        </td>
                        <td>
                            <%= new Date(book.publishedAt).toLocaleDateString() %>
                        </td>
                        <td>
                            <%= new Date(book.createdAt).toLocaleDateString() %>
                        </td>
                        <td>
                            <%= book.author.name %>
                        </td>
                        <td>
                            <%= book.genres.map((g)=> g.name).join(', ') %>
                        </td>
                        <td>
                            <%= book.creator.name %>
                        </td>
                        <td>
                            <input type="checkbox">
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

        <script type="module" src="/assets/js/result.js"></script>
        <script type="module" src="/assets/js/auth.js"></script>
</body>

</html>